
.otsikko {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #333;
    font-size: 30px;
    color: white;
}

.alapalkki {
  height: 5px;
  width: 100%;
  background-color: #95c9b4;
}

.nakyma {
    height: 150px;
    width: 450px;
    background-color: #95c9b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.input1 {
  height: 25px; 
  width: 200px;
  margin: 2px;
}

.button {
  height: 30px;
  width: 70px;
  margin: 12px;
  color: #333;
  border-color: #95c9b4;
}